@use "./variables" as *;
@use "./main.scss" as main;
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:root {
    --admin-sidebar-width: 240px;
}
.admin-bg {
    background: $body-bg;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.admin-container {
    min-height: 100vh;
}

.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: var(--admin-sidebar-width);
    min-width: fit-content;
    background: #343a40;
    color: #fff;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .logo {
        margin-bottom: 2rem;
    }

    nav ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    .nav-link {
        color: $primary !important;
        font-weight: 500;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        transition: all 0.15s;

        &.active,
        &:hover,
        &:focus {
            font-weight: 600;
            color: #343a40 !important;
            letter-spacing: 2px;
            background: $primary;
            text-decoration: none;
        }
    }

    .account-section {
        border-top: 1px solid #dee2e6;
        padding-top: 1.5rem;
        margin-top: auto;
        .nav-link {
            color: #fff;
            font-weight: 500;
            &:hover {
                color: #0b7285;
                background: transparent;
            }
        }
        .btn {
            margin-top: 0.5rem;
        }
    }

    @include media-breakpoint-down(md) {
        span.sidelabel {
            display: none;
        }
    }
}
.admin-main {
    background: #fff;
    border-radius: 8px;
    min-height: 100dvh;
    margin-left: var(--admin-sidebar-width);
    min-width: calc(100vw - var(--admin-sidebar-width));
    box-shadow: 0 0 8px rgba(52, 58, 64, 0.03);
    section {
        &.messg {
            box-shadow: none !important;
            background: transparent;
            &:hover,
            &:focus {
                transform: none;
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-left: 100px;
        min-width: calc(100vw - 100px);
    }
}

button:hover,
button:focus {
    text-decoration: none !important;
}
